/* fonts integration */
@font-face {
  font-family: "Inconsolata-Bold";
  src: url("/static/fonts/Inconsolata_Condensed-Bold.ttf");
}

@font-face {
  font-family: "Inconsolata-Medium";
  src: url("/static/fonts/Inconsolata_Condensed-Medium.ttf");
}

@font-face {
  font-family: "Inconsolata-ExtraBold";
  src: url("/static/fonts/Inconsolata_Condensed-ExtraBold.ttf");
}

/* General CSS */
:root {
  --background: #fafafa;
  --foreground: #111111;
  --links: #2980dd;
  --footer: #2b2b2b;
}

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

/* Navbar CSS */
#navbar {
  width: 100%;
  border-bottom: 1px solid #000;
  /* Line under the navbar */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* Adjusted to space items accordingly */
  align-items: center;
  height: 4rem;
  padding: 0 1rem;
  /* Added padding to ensure items are not touching the edges */
}

.navlist {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* Change to space-around for even spacing */
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
  flex-grow: 2;
  /* Allow the ul to grow and take available space */
}

.nav-item {
  padding: 0 20px;
  font-size: 1.3rem;
  flex-grow: 1;
  /* Allow each nav item to grow and take available space */
  text-align: center;
  /* Center the text inside each nav item */
  font-size: 1.5rem;
  font-family: "Inconsolata-Medium";
  letter-spacing: 0.1rem;
}

.nav-edge {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  flex-grow: 0.5;
  /* Allow the edge divs to grow and take available space */
}

.nav-divider {
  height: 100%;
  width: 2px;
  background-color: #000;
  /* Vertical line color */
}

.nav-item a {
  text-decoration: none;
  color: #000;
}

.nav-item a:hover {
  color: var(--links);
  transition: ease-in-out 0.2s;
}

#nav-name {
  font-family: "Inconsolata-Bold";
}

/* Hero CSS */
#hero-grid {
  display: grid;
  grid-template-columns: 45% 55%;
}

.image {
  width: 100%;
  height: auto;
  z-index: 20;
  border: #000 1px solid;
}

#hero-content {
  font-family: "Inconsolata-Bold";
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 40px;
}

h2 {
  font-size: 100px;
  margin: 0;
}

p {
  font-size: 25px;
}

.icon {
  width: 30px;
  height: 30px;
}

#hero-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Skills CSS */
#skills-grid {
  display: grid;
  grid-template-columns: 75% 25%;
  border: #000 1px solid;
}

#skills-content {
  display: flex;
  gap: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

/* About CSS */
#about-section {
  font-family: "Inconsolata-Bold";
  margin: 100px 200px;
}

/* Footer CSS */
footer {
  width: 100%;
  height: 12rem;
  padding: 0;
  margin: 0;
  background-color: var(--footer);
  color: var(--background);
  font-family: "Inconsolata-bold";
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
}

.footer-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Contact Page CSS */
#contact-content {
  font-family: "Inconsolata-Bold";
  width: 90%;
  padding: 5% 0 5% 10%;
}

#contactform {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 25px; /* Space between input boxes */
  padding-top: 5%;
}

/* Stack labels and input boxes ontop of each other */
#contactform div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
}

#contactform input[type="text"],
#contactform input[type="email"],
textarea {
  font-family: "Inconsolata-Bold"; /* Change font for user input */
  font-size: 20px;
  height:2.5rem;
}

textarea {
  height: 300px;
}

#contactform input[type="submit"] {
  font-family: "Inconsolata-Bold";
  font-size:18px;
  width:30%;
  padding: 10px 20px;
  background-color: var(--foreground);
  color: var(--background);
}

#contactform #firstname-lastname {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contactform #firstname-lastname div {
  width:40%;
}

footer p {
  font-size: 1.3rem;
}

footer img {
  filter: invert(1);
}

