<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Home{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
  <!--Navbar-->
  <nav>
    <ul class="navlist">
      <li class="nav-vl">
        |
      </li>
      <li>
        YOUR NAME
      </li>
      <li class="nav-vl">
        |
      </li>
      <li>
        <a href="/">
          HOME
        </a>
      </li>
      <li class="nav-vl">
        |
      </li>
      <li>
        <a href="">
          ABOUT
        </a>
      </li>
      <li class="nav-vl">
        |
      </li>
      <li>
        <a href="">
          PROJECTS
        </a>
      </li>
      <li class="nav-vl">
        |
      </li>
      <li>
        <a href="/contact">
          CONTACT
        </a>
      </li>
      <li class="nav-vl">
        |
      </li>
    </ul>
  </nav>
  <hr />

  <!--rest of the page-->
  {% block content %}{% endblock %}

  <!--footer-->
  <footer>
    <p>PACS x WiCS &copy; 2024. All rights reserved.</p>
  </footer>
</body>

</html>