<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}My Porfolio - Home{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
  <!--Navbar-->
  <nav id="navbar">
    <div class="nav-edge">
      <p class="nav-item"><a href="/">YOUR NAME</a></p>
      <p class="nav-divider"></p>
    </div>
    <ul class="navlist">
      <li class="nav-item"><a href="/#hero-section">SKILLS</a></li>
      <li class="nav-item"><a href="/#about-section">ABOUT</a></li>
      <li class="nav-item"><a href="/#project-section">PROJECTS</a></li>
    </ul>
    <div class="nav-edge">
      <p class="nav-divider"></p>
      <p class="nav-item"><a href="/contact">CONTACT</a></p>
    </div>
  </nav>

  <!--rest of the page-->
  {% block content %}{% endblock %}

  <!--footer-->
  <footer>
    <p>PACS x WiCS &copy; 2024. All rights reserved.</p>
  </footer>
</body>

</html>