{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content%}

<!--Hero Section-->
<div id="hero-section" class="first-section">
    <section id="hero-grid">
        <img
            src="/static/images/hero_img.jpg"
            alt="Personal Headshot"
            class="image"
        />
        <div id="hero-content">
            <h2>YOUR NAME</h2>
        </div>
    </section>
</div>

<!--About Section-->
<div id="about-section">
    <section>About Section</section>
</div>

<!--Projects Section-->
<div id="project-section" class="last-section">
    <section>Projects Section</section>
</div>

{% endblock %}